.main {
  background-color: rgb(24, 31, 41);
  height: 100dvh;
  width: 100%;
  max-width: 100%;
  display: flex;
}

.logo {
  padding-top: 30px;
  padding-left: 50px;
}

.oeuf {
  border-radius: 50%;
  object-fit: cover;
}

.utilisateur {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  width: auto;
}

.left {
  display: flex;
  height: 100dvh;
  width: 20%;
  justify-content: space-between;
  flex-direction: column;
  border-right: 1px rgba(180, 180, 180, 0.2) solid;
}

.center {
  height: 100dvh;
  width: 50%;
}

.right {
  display: flex;
  height: 100dvh;
  width: 30%;
  flex-direction: column;
  border-left: 1px rgba(180, 180, 180, 0.2) solid;
  padding-left: 30px;
  padding-right: 30px;
}

.name {
  margin-left: 10px;
}

.logout {
  background-color: inherit;
  border-radius: 20px;
  border: 1px gray solid;
  color: white;
  height: 30px;
  width: 100px;
  margin-top: 30px;
  cursor: pointer;
}

.logout:hover {
  background-color: rgba(180, 180, 180, 0.2);
}

.bottom {
  padding: 0 0 30px 50px;
}

.username {
  font-family: "Mont-Light";
  color: grey;
  font-weight: 1000;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px gray solid;
  margin-bottom: 20px;
  min-width: 100%;
  max-width: 100%;
  min-height: 30px;
  max-height: 300px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.inputHashtag {
  background-color: #20262e;
  border: none;
  border-radius: 50px;
  margin-bottom: 20px;
  padding: 12px 15px;
  width: 100%;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.input:focus,
.inputHashtag:focus {
  outline: none;
}

.home {
  margin: 0 30px;
}

.tweetButton {
  margin: 0 0 20px 20px;
  background-color: #3690ee;
  border-radius: 50px;
  border: none;
  padding: 5px 20px;
  font-family: "Mont-Heavy";
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.tweetButton:hover {
  background-color: #2c77c6;
}

.hashtagsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #20262e;
  border-radius: 15px;
  padding: 20px;
  max-height: 80%;
  overflow-y: auto;
}

.hashtagsContainer::-webkit-scrollbar {
  width: 2px;
}
.hashtagsContainer::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}
.hashtagsContainer::-webkit-scrollbar-track {
  background: transparent;
}

.hashtagLink:hover {
  cursor: pointer;
  color: rgb(175, 175, 175);
}

.hashtagText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hashtagNumber {
  padding-top: 10px;
  font-size: smaller;
  color: grey;
}

.tweetLength {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}