.main {
  background-color: rgb(24, 31, 41);
  height: 100dvh;
  width: 100%;
  max-width: 100%;
  display: flex;
}

.logo {
  padding-top: 30px;
  padding-left: 50px;
}

.oeuf {
  border-radius: 50%;
  object-fit: cover;
}

.utilisateur {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  width: auto;
}

.left {
  display: flex;
  height: 100%;
  width: 40%;
  justify-content: space-between;
  flex-direction: column;
  background-color: yellow;
}

.right {
  display: flex;
  height: 100%;
  width: 40%;
  justify-content: space-between;
  flex-direction: column;
  background-color: green;
}

.name {
  margin-left: 10px;
}

.logout {
  background-color: rgb(24, 31, 41);
  border-radius: 20px;
  border: 1px gray solid;
  color: white;
  height: 30px;
  width: 100px;
  margin-top: 30px;
}

.bottom {
  padding: 0 0 30px 50px;
}

.username {
  font-family: "Mont-Light";
  color: grey;
  font-weight: 1000;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.text {
  background-color: rgb(24, 31, 41);
  border: none;
  border-bottom: 1px gray solid;
  height: 50px;
  width: 500px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 20%;
  background-color: red;
}
