.tweetContainer {
  border-top: 1px rgba(180, 180, 180, 0.2) solid;
  padding: 20px;
}

.tweetUser {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  border-radius: 50%;
  object-fit: cover;
}

.username {
  color: grey;
}

.hashtag {
  color: #3690ee;
  text-decoration: none;
}

.hashtag:hover {
  color: #2c77c6;
}

.deleteIcon:hover {
  color: gray;
  cursor: pointer;
}
